*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}
@media(max-width:769px){
    .body{
        width: 800px;
    }
    .header{
        width: 800px;
        height: 200px;
    }
    .header__menu{
        padding: 0px;

    }
    .header ul{
        display: flex;
        flex-direction: column;
        padding-bottom: 150px;
    }
    .informacion{
        width: 800px;
        height: 9900px;
        display: flex;
        flex-direction: column;
    }
    .informacion__video{
        width: 425px;
        padding-left: 100px;
    }
    .informacion h3{
        width: 400px;
        height: 100px;
        padding-left: 150px;
    }
    .Equipo{
        width:800px;
    }
    .Pie{
        width:800px
    }
    .Servicio{
        width: 800px;
    }
    .Servicio__Imagen1{
        margin-left: 100px;
    }
    .Servicio__Imagen2{
        margin-left: 100px;
    }
    .descripcion{
        width: 800px;
    }
    .Tabla{
        width: 770px;
    }
    .Tabla__lista{
        margin-left: 200px;
    }
    .descripcion__texto{
        margin-left: 200px;
    }
    .galeria{
        width: 800px;
    }
    .Contacto{
        width: 780px;
    }
}       
    
.body{
    display: grid;
    width: 100%;
    height: 100%;
}

.informacion{
    background-image: url(./img/fondoweb.jpg);
    height: 500px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}
.display-1{
    color: white;
    padding-top: 80px;
}
.h3{
    color: whitesmoke;
    padding-top: 50px;
}
.Frase{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: black;
    color: whitesmoke;
}
.Servicio{
    height: 1200px;
    display: grid;
    background-color:rgb(255, 6, 6);
    grid-template-areas: 
    "Titulo Titulo Titulo"
    "Imagen1 Imagen1 Imagen1"
    "Subtitulo1 Subtitulo1 Subtitulo1"
    "texto1 texto1 texto1"
    "Imagen2 Imagen2 Imagen2"
    "Subtitulo2 Subtitulo2 Subtitulo2"
    "texto2 texto2 texto2";
    
}
.Servicio__Imagen1{
    grid-area: Imagen1;
    height: 300px;
    padding-left: 50px;
    padding-top: 20px;
}
.Servicio__Titulo{
    grid-area: Titulo;
    padding: 20px;
    text-transform: uppercase;
    align-items: center;
}
.Servicio__Subtitulo1{
    font-size: 30px;
    grid-area: Subtitulo1;
    padding-top: 20px;
    padding-left: 50px;
}
.Servicio__texto1{
    grid-area: texto1;
    padding-top: 20px;
    padding-left: 50px;
    width: 600px;
}
.Servicio__Imagen2{
    grid-area: Imagen2;
    height: 300px;
    padding: 50px 50px 20px 50px;
}
.Servicio__Subtitulo2{   
    font-size: 30px;
    grid-area: Subtitulo2;
    padding-top: 10px;
    padding-left: 50px;

}
.Servicio__texto2{
    grid-area: texto2;
    padding-top: 20px;
    padding-left: 50px;
    width: 600px;
}
.descripcion{
    background-color: red;
}
.descripcion__titulo{
    padding-left: 30px;
    padding-top: 30px;
}
.descripcion__texto{
    margin-top: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
    width: 400px;
}
.Tabla{
    background-color: red;
    padding-left: 30px;
    padding-bottom: 100px;
    padding-top: 100px;
}
.Tabla__titulo{
    padding-bottom: 20px;
    font-size: 30px;
}
.Tabla__lista{
    border-style: solid;
    border-color: black;
}
.Contacto{
    background-color: red;
    width: 1500px;
    height: 800px;
}
.h1{
    padding-left: 30px;
    padding-top: 30px;
}
.h5{
    padding-left: 30px;
    padding-top: 30px;
}
.mb-3{
    width: 500px;
    height: 100px;
    padding-left: 30px;
    padding-top: 20px;
}
.galeria{
    background-color: red;
    height: 1000px;    
}
.galeria__img1{
    width: 326px;
    padding: 40px;
}
.galeria__img2{
    width: 350px;
    padding: 40px;
}
.galeria__img3{
    width: 350px;
    padding: 40px;
}
